name: "ChainSharp: Run CI/CD Test Suite"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

  # Allow manual runs
  workflow_dispatch: ~

env:
  DOTNET_VERSION: '10.0.x' # The .NET SDK version to use

jobs:
  cleanupcode:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install tools
        run: dotnet tool restore

      - name: Cleanup Code
        run: dotnet dotnet-csharpier --check .
  
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          
      - name: Docker
        run: docker compose up -d

      - name: Build Project
        run: dotnet build --configuration Release /clp:ErrorsOnly

      - name: Run Tests
        run: dotnet test --configuration Release --no-restore /m:1 /clp:ErrorsOnly